<div class="center-container">
<img class="animated-image" style="max-width: 200px; margin-bottom: 10px;" src="../assets/Irene-Fer-14-6-2024.png">

<div class="options">
<button class="option-button" (click)="showOption(1)">🎥🎬🚬</button>
<button class="option-button" (click)="showOption(2)">📸🖼️🤳</button>
<button class="option-button" (click)="showOption(3)">🗺️🧭🗽</button>  
</div>

<div class="content"> 
<div class="option">
@if (this.showPeliculas) {
    <app-films></app-films>
}
</div>

<div class="option">
    @if (this.showPics) {
        <app-pics></app-pics>
    }
</div>

<div class="option">
    @if(this.showMaps){
        <app-maps></app-maps>
    }
</div>

</div>




